<a href="https://colab.research.google.com/github/SuminPark-02/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문

In [ ]:
# 두 수 비교하기
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

if num1 == num2:
  print(f'{num1}과(와) {num2}은(는) 같습니다.')
elif num1 > num2:
  print(f'{num1}은(는) {num2}보다 큽니다.')
else:
  print(f'{num1}은(는) {num2}보다 작습니다.')

첫 번째 정수를 입력하세요: 2
두 번째 정수를 입력하세요: 2
2과(와) 2은(는) 같습니다.

In [ ]:
# 세 수 중 가장 큰 수 찾기
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))
num3 = int(input("세 번째 정수를 입력하세요: "))

max_num = num1

if max_num < num2:
  max_num = num2
if max_num < num3:
  max_num = num3

print(f'입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.')

첫 번째 정수를 입력하세요: -1
두 번째 정수를 입력하세요: 2
세 번째 정수를 입력하세요: -3
입력하신 세 수 -1, 2, -3 중에서 가장 큰 수는 2입니다.

In [ ]:
# 학점 판별하기
score = int(input("시험 점수(0~100점)를 입력하세요: "))

if 0 <= score <= 100:
  if score >= 90:
    grade = 'A'
  elif score >= 80:
    grade = 'B'
  elif score >= 70:
    grade = 'C'
  elif score >= 60:
    grade = 'D'
  else:
    grade = 'F'
  print(f'당신의 학점은 {grade}입니다.')
else:
  print("점수는 0부터 100 사이의 값이어야 합니다.")

시험 점수(0~100점)를 입력하세요: 22
당신의 학점은 F입니다.

In [ ]:
# 윤년 판별하기
year = int(input("연도를 입력해주세요: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f'{year}년은 윤년입니다.')
else:
  print(f'{year}년은 윤년이 아닙니다.')

연도를 입력해주세요: 2002
2002년은 윤년이 아닙니다.

# 반복문

In [ ]:
for i in range(5):
  print("반복!", i+1)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [ ]:
for i in range(1, 6):
  print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [ ]:
for i in range(1, 10, 2):
  print("반복!", i)

반복! 1
반복! 3
반복! 5
반복! 7
반복! 9

In [ ]:
for i in [1, 2, 3, 4, 5]:
  print("반복!", i)

반복! 1
반복! 2
반복! 3
반복! 4
반복! 5

In [ ]:
# 1부터 N까지의 합 계산하기
N = int(input("양의 정수 N을 입력하세요: "))
sum = 0

if N <= 0:
  print("N은 양의 정수여야 합니다.")
else:
  for i in range(1, N+1):
    sum += i
  print(f'1부터 {N}까지의 합은: {sum}입니다.')

양의 정수 N을 입력하세요: 10000
1부터 10000까지의 합은: 50005000입니다.

In [ ]:
# 특정 조건까지 반복하기 (while 루프)
count = 0
print("0부터 9까지 출력:")
while count < 10:
  print(count)
  count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [ ]:
# for 루프로 바꾸기
print("0부터 9까지 출력:")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료