<a href="https://colab.research.google.com/github/SuminPark-02/AIpython/blob/main/250404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 조건문 / 반복문

In [ ]:
# 온도 변환기
kind = input("온도 종류(섭씨 또는 화씨): ")
temp = int(input(kind+" 온도: "))

if kind == "섭씨":
  print('화씨 온도 %.2f'%(temp*9/5+32))
else:
  print('섭씨 온도 %.2f'%((temp-32)*5/9))

온도 종류(섭씨 또는 화씨): 화씨
화씨 온도: 68
섭씨 온도 20.00

In [ ]:
# 숫자 맞히기 게임
import random

answer = random.randint(1, 100)
times = 0

print("1부터 100까지의 수 하나를 정했습니다.")
print("이 숫자를 맞혀보세요.")
print("정답 :", answer)

while True:
  user = int(input("1~100 숫자 입력: "))
  times += 1
  if user == answer:
    break
  elif user < answer:
    print(f'{user}보다 큽니다.')
  else:
    print(f'{user}보다 작습니다.')

print(f'정답입니다! {times}회 만에 맞혔습니다.')

1부터 100까지의 수 하나를 정했습니다.
이 숫자를 맞혀보세요.
정답 : 60
1~100 숫자 입력: 50
50보다 큽니다.
1~100 숫자 입력: 75
75보다 작습니다.
1~100 숫자 입력: 60
정답입니다! 3회 만에 맞혔습니다.

# 랜덤

In [ ]:
# 로또 번호 만들기 - 중복 방지 안됨
import random

num = []

for i in range(6):
  r = random.randint(1, 45)
  num.append(r)

print(num)

[1, 29, 16, 30, 13, 13]

In [ ]:
# 로또 번호 만들기 - 중복 방지
import random

num = []

while len(num) < 6:
  r = random.randint(1, 45)
  if not(r in num):
    num.append(r)

print(num)

[36, 2, 3, 35, 24, 8]

# 리스트

In [ ]:
# 학생 성적 평균 계산하기 - sum(), len() 함수 사용 X
성적 = [85, 92, 78, 90, 87]
합계 = 0
과목수 = 0

for 점수 in 성적:
  합계 += 점수
  과목수 += 1

평균 = 합계 / 과목수
print(평균)

86.4

In [ ]:
# 학생 성적 평균 계산하기 - sum(), len() 함수 사용
성적 = [85, 92, 78, 90, 87]

평균 = sum(성적) / len(성적)
print(평균)

86.4

In [ ]:
학생들 = [("철수", 85), ("영희", 92), ("민수", 65), ("지영", 78)]
합격자 = []

for 학생, 점수 in 학생들:
    if 점수 >= 70:
        합격자.append(학생)

print(합격자)

['철수', '영희', '지영']

In [ ]:
숫자들 = [1, 2, 2, 3, 4, 4, 5, 5, 5]
중복제거 = list(set(숫자들))

print(중복제거)

[1, 2, 3, 4, 5]

In [ ]:
# 리스트 생성 및 요소 접근 / 요소 추가 및 삭제
fruits = ["사과", "바나나", "딸기", "포도"]
print(f"원래 리스트: {fruits}")

first_fruit = fruits[0]
print(f"첫 번째 과일: {first_fruit}")

last_fruit = fruits[-1]
print(f"마지막 과일: {last_fruit}")

fruits.append("오렌지")
print(f"요소 추가 후: {fruits}")

fruits.remove("바나나")
print(f"요소 삭제 후: {fruits}")

원래 리스트: ['사과', '바나나', '딸기', '포도']
첫 번째 과일: 사과
마지막 과일: 포도
요소 추가 후: ['사과', '바나나', '딸기', '포도', '오렌지']
요소 삭제 후: ['사과', '딸기', '포도', '오렌지']

In [ ]:
# 리스트 요소 순회하며 출력
numbers = [1, 5, 12, 8, 21]

for num in numbers:
  print(num)

1
5
12
8
21

In [ ]:
# 리스트 요소 값 변경
colors = ["빨강", "초록", "파랑"]
print(colors)

colors[1] = "노랑"
print(colors)

['빨강', '초록', '파랑']
['빨강', '노랑', '파랑']

In [ ]:
# 두 개의 리스트 합치기
list1 = [1, 2, 3]
list2 = [4, 5, 6]

combined_list_plus = list1 + list2
print(combined_list_plus)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]